.container{
    display: flex;
   place-items : center;
    flex-direction: column;
}

.error{
    color: red;
}

.userInput {
    width : 500px;
    height:30px;
    font-size: 15px;
    margin-right: 50px;
}

.field {
    margin: 10px;
}

.bookDonation{
     text-align: center;
     cursor: pointer;
     height:30px;
     width: 80px;
     border-radius: 40px;
     margin: 30px;
     background-color: greenyellow;
     color: black
}

.container{
    margin-top: 10px;
}