* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #fff1e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 5px rgb(170, 170, 170);
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 2;
}

#left-nav {
    display: flex;
    align-items: center;
}

#left-nav img {
    margin: 0 10px 5px 10px;
    height: 80px;
}

#left-nav p {
    padding-top: 20px;
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    color: #bf6700;
    font-weight: 800;
}

#right-nav {
    margin-top: 20px;
    display: flex;
}

#right-nav img {
    height: 40px;
    margin: 20px 20px 20px 10px;
}

.inactive {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    background-color: #ffb184;
    padding: 5px 10px 5px 10px;
    border-radius: 2px 15px 2px 15px;
    align-items: center;
    display: flex;
}
.profile{
    cursor: pointer;
}